@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Elms Sans", sans-serif;
}
.socials:hover{
    transform: rotateZ('60deg');
}

@keyframes updown {
    0%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0deg);
    }
}

.animateUpDown{
    animation-name: updown;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}